.dropDown__block {
  background-color: #222831;
  color: #f3f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
  z-index: 99;
  transform: translateY(-120%);
  transition: transform 0.3s ease-out;
}

.menuVisible {
  transform: translateY(0);
}

.dropDown__block ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 70px;
  width: 100%;
}

.dropDown__block ul li {
  margin: 10px 0;
  text-align: center;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #f3f2f2;
  font-weight: bold;
  font-size: 15px;
  padding: 7px 0;
  -webkit-tap-highlight-color: transparent;
}

.navLink:hover,
.active {
  color: #f3f2f2;
  background-color: #f05454;
  width: 100%;
}

@media (min-width: 768px) {
  .dropDown__block {
    display: none;
  }
}
